
pre {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid gray;
}

body {
  color: white;
  background-color: black;
}

.scoreboard {
  font-family: 'Righteous', cursive;
  background-color: white;
  color: black;
  font-size: 50px;
  text-align: center;
  border: 1px solid white;
  position: absolute;
  top: 5vh;
  right: 1.5vh;
  width: 15ch;
} 

.spaceinvaders {
  font-family: 'Righteous', cursive;
  background-color: white;
  color: black;
  font-size: 20px;
  text-align: center;
  border: 1px solid white;
  position: absolute;
  top: 5vh;
  right: 69vw;
  width: 15ch;
} 